@model IEnumerable<ProjekatFinalni.Models.Kontakt>
@{
    ViewBag.Title = "Index";
}
<h2>Kontakt</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RadnoMesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkolaID)
        </th>
        <th>
            Lista Email adresa:
        </th>
        <th>
            Lista telefona:
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RadnoMesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkolaID)
            </td>
            <td>
                @Html.ActionLink("Email", "Index", "Email", new { kontaktid = item.KontaktID }, null)
            </td>
            <td>
                @Html.ActionLink("Telefoni", "Index", "Telefoni", new { tkontaktid = item.KontaktID }, null)
            </td>
           
           
        </tr>

    }
</table>
<p>
    @Html.ActionLink("Nazad", "Index", "Skola")
</p>
</table>
<P STYLE="text-align:right">
    <a href="javascript:window.print()">Odštampaj stranicu</a>
</P>
