@model IEnumerable<ProjekatFinalni.Models.Telefon>


@{
    ViewBag.Title = "Index";
}

<h2>Telefoni</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrojTelefona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OznakaTipa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lokal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KontaktID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrojTelefona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OznakaTipa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KontaktID)
            </td>
         
        </tr>
      
    }

</table>

<P STYLE="text-align:right">
    <a href="javascript:window.print()">Odštampaj stranicu</a>
</P>